@use './_content.scss';
@use './_cards.scss';
@use './error_page.scss';
@use './_author.scss';
@use './organizations';
@use './_badge.scss';

.mission-statement-card.card {
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5em;
  width: fit-content;
  background-color: black;

  h3 {
    color: white;
  }
}