section.login {
  justify-content: center;
}

.providers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 1675px) {
  // Add this to each section specifically
  section {
    justify-content: center;
  }

  .providers {
    flex-direction: row;
  }
}